@import "tailwindcss";
@plugin '@tailwindcss/typography';

@custom-variant aria-current (&[aria-current="page"]);

@utility max-w-app {
  @apply max-w-2xl;
}

@custom-variant dark (&:where(.dark, .dark *));
