---
import "../styles/global.css";
import { getCollection } from "astro:content";
import { ArrowUpRight } from '@lucide/astro';
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import PostPreviewList from "../components/PostPreviewList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");
const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="flex flex-col gap-14 sm:gap-20">
		<Hero />
		<Projects />
		<!-- Recent Posts -->
		<div class="flex flex-col gap-4">
			<PostPreviewList title="Recent Posts" posts={allPosts} />
			<div>
    		<a href="/blog" aria-disabled="false"
      		class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none cursor-pointer h-[42px] min-w-[42px] gap-1 p-0">
      		<div>Visit My Blog</div>
      		<ArrowUpRight size={20} />
    		</a>
			</div>
		</div>
	</div>
</BaseLayout>
