---
import { ArrowUpRight } from '@lucide/astro';

interface Props {
  orientation?: string;
  // title: string;
  // description: string;
  // image: string;
}

const { orientation = "vertical" } = Astro.props;
---
{
  orientation == "vertical" ?
    <div class="flex flex-col items-start gap-6 overflow-hidden rounded-xl border border-slate-200">
      <div class="flex w-full items-center justify-center bg-[url('https://tailframes.com/images/squares-bg.webp')] bg-cover bg-center bg-no-repeat py-20 2xl:py-28">
        <!-- Image  -->
      </div>
      <div class="flex flex-col items-start gap-2 px-4 py-6 md:px-8">
        <p class="text-base text-slate-500">2019</p>
        <p class="text-2xl font-semibold tracking-tight">Headline</p>
        <p class="text-base text-slate-500">We've done it carefully and simply. Combined with the ingredients makes for beautiful landings.</p>
        <button type="button" aria-disabled="false"
          class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none cursor-pointer h-[42px] min-w-[42px] gap-1 p-0">
          <div>Read More</div>
          <ArrowUpRight size={20} />
        </button>
      </div>
    </div>
    :
    <div class="flex flex-col sm:flex-row items-start gap-6 overflow-hidden rounded-xl border border-slate-200">
      <div class="flex w-full sm:order-1 items-center justify-center bg-[url('https://tailframes.com/images/squares-bg.webp')] bg-cover bg-center bg-no-repeat py-20 2xl:py-28">
        <!-- Image  -->
      </div>
      <div class="flex flex-col items-start gap-2 px-4 py-6 md:px-8">
        <p class="text-base text-slate-500">2019</p>
        <p class="text-2xl font-semibold tracking-tight">Headline</p>
        <p class="text-base text-slate-500">We've done it carefully and simply. Combined with the ingredients makes for beautiful landings.</p>
        <button type="button" aria-disabled="false"
          class="group inline-flex items-center justify-center whitespace-nowrap rounded-lg align-middle text-sm font-semibold leading-none h-[42px] min-w-[42px] gap-1 cursor-pointer p-0">
          <div>Read More</div>
          <ArrowUpRight size={20} />
        </button>
      </div>
    </div>
}
