---
import { Image } from "astro:assets";
import doro from "../assets/doro.jpeg";
---

<section id="hero" class="flex w-full">
  <div class="m-auto flex max-w-screen-xl flex-col justify-start gap-4">
    <div>
      <Image
        src={doro}
        alt="Shocked doro"
        width={80}
        class="rounded-full mb-4"
      />
      <h1 class="text-3xl font-bold dark:text-white">Hello World!</h1>
    </div>
    <p class="text-zinc-500 dark:text-stone-300">
      I'm Kai, a student and an aspiring software engineer. My interest
      spans a wide field of domains in the tech space, including software
      development, cybersecurity and machine learning. Honestly, I've put off
      building this website for quite a loong time but at last, it's done. With
      that, I finally have my own little space amid the vast Internet to blog
      and share anything exciting that I come across!
    </p>
    <!-- <a href="/about" class="underline text-zinc-500">Tell me more!</a> -->
  </div>
</section>
