---
interface Props {
  pubDate: string;
  title: string;
  description: string;
  url: string;
}

const { pubDate, title, description, url } = Astro.props;
const date = new Date(pubDate).toLocaleDateString(
  'en-gb',
  {
    year: "numeric",
    month: "long",
    day: "numeric",
  }
);

---

<li>
  <a href={url}>
    <time class="mb-1 text-sm font-normal leading-none text-gray-400">{date}</time>
    <h3 class="text-lg font-semibold text-gray-900">{title}</h3>
    <p class="text-base font-normal text-gray-500">{description}</p>
  </a>
</li>
