---
import PostPreview from '../components/PostPreview.astro';
---

<div class="flex flex-col gap-8">
  <h1 class="text-xl bold">Recent Posts</h1>
  <ol class="flex flex-col gap-10">
      <PostPreview />
      <PostPreview />
      <PostPreview />
  </ol>
  <a href="/">View more posts-></a>
</div>
