---
import Card from '../components/Card.astro'
---

<div class="flex flex-col gap-8">
  <h1 class="text-xl bold">Projects</h1>
  <div class="grid grid-cols-2 grid-rows-2 gap-4">
    <div class="col-span-2 row-span-2">
      <Card orientation="horizontal" />
    </div>
    <div class="col-span-2 row-span-2 sm:row-start-3 sm:col-span-1">
      <Card />
    </div>
    <div class="col-span-2 row-span-2 sm:row-start-3 sm:col-span-1">
      <Card />
    </div>
  </div>
  <a href="/">View more projects-></a>
</div>
