---
import { Image } from "astro:assets";
import Java from "../assets/logos/java.svg";
import Python from "../assets/logos/python.svg";
import SQL from "../assets/logos/postgresql.svg";
import TypeScript from "../assets/logos/typescript.svg";
import SpringBoot from "../assets/logos/springboot.svg";
import ReactJS from "../assets/logos/react.svg";
import TailwindCSS from "../assets/logos/tailwindcss.svg";
import RedHat from "../assets/logos/redhat.svg";
import AWS from "../assets/logos/aws.svg";
---

<!-- List -->
<div class="space-y-3">
  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-stone-400">Languages:</span>
    </dt>
    <dd>
      <ul>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          <Java height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          Java
        </li>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          <Python height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          Python
        </li>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          <SQL height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          SQL
        </li>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          <TypeScript height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          TypeScript
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-stone-400">Frameworks/Libraries:</span>
    </dt>
    <dd>
      <ul>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          <SpringBoot height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          Spring Boot
        </li>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          <ReactJS height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          React.js
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800 dark:text-stone-300">
          <TailwindCSS height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          TailwindCSS
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="block text-sm text-gray-500 dark:text-stone-400">Certifications:</span>
    </dt>
    <dd>
      <ul>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          <RedHat height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1 dark:text-stone-300" />
          RHCSA
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800 dark:text-stone-300">
          <AWS height="24" width="24" class="dark:fill-white shrink-0 size-4 me-1" />
          AWS CCP
        </li>
      </ul>
    </dd>
  </dl>

  <dl class="flex flex-col sm:flex-row gap-1">
    <dt class="min-w-40">
      <span class="text-sm text-gray-500 dark:text-stone-400">Awards:</span>
    </dt>
    <dd>
      <ul>
        <li
          class="me-1 after:content-[','] inline-flex items-center text-sm text-gray-800 dark:text-stone-300"
        >
          NUS ASEAN Undergraduate Scholarship
        </li>
        <li class="me-1 inline-flex items-center text-sm text-gray-800 dark:text-stone-300">
          Singtel SHINE Scholarship
        </li>
      </ul>
    </dd>
  </dl>
</div>
<!-- End List -->
